body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Raleway', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    background: #4faad4;
}

.center {
    text-align: center;
}

img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 500px;
    position: relative;
    z-index: 2;
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.8);
}

.bloc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    background: rgba(92, 92, 92, 0.3);
    max-width: 60%;
    margin-top: -40px;
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.4);
}

blockquote {
    font-size: 34px;
    font-weight: 600;
    margin: 60px 35px 30px 35px;
}

cite {
    margin-bottom: 30px;
    font-size: 20px;
}

cite:before, cite:after {
    content: '~';
    margin: 0 14px;
}

.col {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    text-align: center;
    position: absolute;
    bottom: 30px;
}

h2 {
    font-size: 14px;
    width: 100%;
}

.color{
    width: 20px;
    height: 20px;
    margin : 5px;
}

.blue {
    background-color: #4faad4;
}

.green {
    background-color: #5fd44f;
}

.yellow {
    background-color: #d4d24f;
}

.red {
    background-color: #d44f4f;
}

.grey {
    background-color: #b9b9b9;
}